{
  "extends": "airbnb",
  "plugins": [
    "import",
    "react"
  ],
  "env": {
    "browser": true,
    "es6": true,
    "jest": true
  },
  "rules": {
    "arrow-parens": 0,
    "camelcase": 0,
    "comma-dangle": [2, {
      "arrays": "only-multiline",
      "exports": "only-multiline",
      "functions": "always-multiline",
      "imports": "only-multiline",
      "objects": "always-multiline"
    }],
    "consistent-return": 0,
    "eol-last": [2, "always"],
    "function-paren-newline": 0,
    "import/extensions": 0,
    "import/no-extraneous-dependencies": 0,
    "import/prefer-default-export": 0,
    "import/no-unresolved": 0,
    "max-len": [2, 120],
    "no-confusing-arrow": 0,
    "no-console": 1,
    "no-mixed-operators": 0,
    "no-continue": 0,
    "no-extra-parens": [2, "all", {
      "ignoreJSX": "multi-line"
    }],
    "no-param-reassign": [2, {
      "props": false
    }],
    "no-plusplus": 0,
    "no-shadow": 2,
    "no-template-curly-in-string": 1,
    "no-unused-vars": 2,
    "no-use-before-define": [2, {
      "functions": false
    }],
    "object-curly-newline": 0,
    "prefer-const": [2, {
      "destructuring": "any",
      "ignoreReadBeforeAssign": false
    }],
    "quotes": [2, "single"],
    "jsx-quotes": 0,
    "react/jsx-filename-extension": [1, {
      "extensions": [".js", ".jsx"]
    }],
    "react/prop-types": 0,
    "semi": [2, "never"]
  },
  "parser": "babel-eslint"
}
