commands:
    /start: 'Start command'
    /help: 'Help command'
    /show_courses: 'All courses'
    /take_course: 'Take course'
    /next: 'Next step'
    /prev: 'Prev step'
    /answer: 'Send quiz question'
    /progress: 'Courses progress'
    /leave: 'Leave this course for now'
    /delete: 'Delete the course from user course list'
    /overview: 'Show course plan'
    /comment: 'Leave a course review'


VK:
    TOKEN: 'e89dd08034ef28ac5af89a15d471acfdbfe3edb92c3283cdad7cfed3788935b3aea34681b33c092f8ebfa'
    PATH: 'https://api.vk.com/method/'
    API_VERSION: '5.68'

API:
    PATH: 'http://172.19.245.10:8081'
