commands:
    /start: 'Приветственное сообщение с кратким описанием платформы'
    /help: 'Вывод данной подсказки со списком комманд'
    /show_courses: 'Список всех доступных курсов'
    /take_course: 'Начать курс'
    /next: 'Следующий шаг'
    /prev: 'Предыдущий шаг'
    # /answer: 'Выбрать варианты ответа'
    /progress: 'Прогресс студента по всем курсам'
    # /delete: 'Delete the course from user course list'
    /overview: 'Посмотреть план курса'
    /comment: 'Оставить комментарий к курсу, возможно после завершения'

VK:
    TOKEN: 'e89dd08034ef28ac5af89a15d471acfdbfe3edb92c3283cdad7cfed3788935b3aea34681b33c092f8ebfa'
    PATH: 'https://api.vk.com/method/'
    API_VERSION: '5.68'

API:
    PATH: 'http://92.53.102.66:8080'
